body {
  background: #8B8A8A;
  font-size: 80%;
}

main {
  position: relative;
  background: #8B8A8A;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  resize: both;
  overflow: hidden;
}

main div {
  background: #fff;
  box-shadow: 10px 10px 5px #201F1F;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
}